* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../public/images/Background3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

header {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homepage-id {
  text-decoration: none;
  border: none;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

a:hover {
  background-color: rgb(158, 158, 158);
  padding: 12px;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
  flex: 1;
}

#filter-container {
  grid-row-start: 2;
  grid-column-start: 1;
  padding: 15px;
  margin: 20px;
  margin: 20px;
  background-color: rgba(211, 211, 211, 0.555);
  border-radius: 20px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

select {
  padding: 5px;
}

option {
  padding: 5px;
  border-radius: 15px;
  gap: 5px;
}

#main-events-container {
  width: 95%;
  grid-row-start: 2;
  grid-column-start: 2;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.555);
  border-radius: 20px;
  margin: 20px;
}

#events-container {
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 90%;
}

.inserted-event {
  width: 90%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.1fr 0.1fr 0.1fr;
  border-radius: 20px;
  background-color: lightgray;
  margin: 20px;
}

.event-name {
  padding: 10px;
  width: 90%;
  margin: 10px;
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.host-name {
  width: 90%;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-description {
  max-width: 90%;
  margin: 10px;
  padding: 15px;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
  max-height: 700px;
  flex-wrap: wrap;
}

.event-location {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-date {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-time {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-category {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

#submit-btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: rgb(158, 158, 158);
  padding: 12px;
}

#submit-btn:active {
  animation: size 0.1s linear;
}

footer {
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#about-us-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px;
  color: white;
  text-align: center;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000062;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000bd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

@media (max-width: 750px) {
  .inserted-event {
    width: 100%;
    margin: 10px 0;
  }
  main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  #filter-container {
    background-color: transparent;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
  }
  #filter-select {
    text-decoration: none;
    border: none;
  }
  #main-events-container {
    margin: 10px 0;
    width: 95%;
    grid-row-start: 2;
    grid-column-start: 1;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }
  .event-description {
    max-width: 90%;
    margin: 10px 0;
    padding: 5;
    max-height: 100px;
    overflow-y: auto;

    display: block;
  }
  header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .inserted-event {
    display: flex;
    flex-direction: column;
  }
}
