* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../public/images/Background3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homepage-id {
  text-decoration: none;
  border: none;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

a:hover {
  background-color: rgb(158, 158, 158);
  padding: 12px;
}

main {
  flex: 1;
}

footer {
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000062;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000bd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

#about-us-container {
  font-size: 24px;
  padding: 20px;
  color: white;
  margin-top: 30px;
}

p {
  padding: 1em;
}

@media (max-width: 875px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-us-container {
    font-size: 18px;
    padding: 20px;
    color: white;
    margin-top: 30px;
    max-width: 90%;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000062;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000bd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

/* ----------------------------------------------------------- */

.carousel {
  margin: 100px auto;
  width: 50%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 8em;
  padding: 1em;
  background: rgba(211, 211, 211, 0.555);
  font-size: 2rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

#card-img {
  max-height: 250px;
  max-width: 250px;
}

#slider-a-tag {
  text-decoration: none;
  border: none;
}

#slider-a-tag:hover {
  text-decoration: none;
  border: none;
  background: none;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
