* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url("../public/images/Background3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: white;
}

#homepage-logo-img {
  max-width: 150px;
}

body {
  display: flex;
  flex-direction: column;
}

.skip-link {
  color: whitesmoke;
  text-shadow: 0 0 4px rgba(0, 95, 204, 0.6), 0 0 8px rgba(0, 95, 204, 0.4),
    0 0 12px rgba(0, 95, 204, 0.25);
}

.link-decoration {
  text-shadow: 0 0 4px rgba(0, 95, 204, 0.6), 0 0 8px rgba(0, 95, 204, 0.4),
    0 0 12px rgba(0, 95, 204, 0.25);
}

header {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 1.2rem;
}

#homepage-id {
  text-decoration: none;
  border: none;
}

a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

a:hover {
  background-color: rgb(158, 158, 158);
  padding: 12px;
}

main {
  flex: 1;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: rgba(230, 240, 255, 1);
  text-shadow: 0 0 4px rgba(0, 95, 204, 0.6), 0 0 8px rgba(0, 95, 204, 0.4),
    0 0 12px rgba(0, 95, 204, 0.25);
}

footer {
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000062;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000bd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

#about-us-container {
  font-size: 24px;
  padding: 20px;
  color: white;
  margin-top: 30px;
}

p {
  padding: 1em;
}

/* ----------------------------------------------------------- */

.carousel {
  margin: 30px auto;
  width: 65%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0em;
  padding-right: 0;
}

.card {
  flex: 0 0 160px;
  height: 8em;
  padding: 0em;
  font-size: 2rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: white;
  background-color: rgba(211, 211, 211, 0.555);
  margin: 5px;
}

#card-img {
  max-height: 250px;
  max-width: 250px;
}

#slider-a-tag {
  text-decoration: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slider-a-tag:hover {
  text-decoration: none;
  border: none;
  background: none;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

:focus-visible {
  outline: 3px solid rgba(0, 95, 204, 1);
}

#homepage-list-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#homepage-list-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#event-img1 {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  width: auto;
}

#event-img2 {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  width: auto;
}

ul {
  padding: 5px;
  margin: 25px;
}

#popular-events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#popular-events-title {
  text-shadow: 0 0 4px rgba(0, 95, 204, 0.6), 0 0 8px rgba(0, 95, 204, 0.4),
    0 0 12px rgba(0, 95, 204, 0.25);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff62;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffffbd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

@media (max-width: 875px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #homepage-list-container1 {
    flex-direction: column;
  }

  #homepage-list-container2 {
    flex-direction: column-reverse;
  }
  .carousel {
    width: 100%;
  }

  .card {
    flex: 0 0 260px;
    padding: 0em;
  }

  #card-img {
    max-width: 100%;
    max-height: 260px;
  }

  #slider-event-name {
    font-size: 1.3rem;
    color: white;
  }
  .group {
    gap: 0em;
    padding-right: 0;
  }

  #slider-event-name {
    font-size: 1.3rem;
    color: white;
  }
}

@media (max-width: 550px) {
  li {
    font-size: 16px;
  }
  #nav-container {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
  }
}

@media (max-width: 600px) {
  .carousel {
    width: 100%;
  }

  .card {
    flex: 0 0 260px;
    padding: 0em;
  }

  #card-img {
    max-width: 100%;
    max-height: 260px;
  }

  #slider-event-name {
    font-size: 1.3rem;
    color: white;
  }
  .group {
    gap: 0em;
    padding-right: 0;
  }
}
