* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../public/images/Background3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

a:hover {
  background-color: rgb(158, 158, 158);
  padding: 12px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1;
}

#homepage-id {
  text-decoration: none;
  border: none;
}

footer {
  background-color: rgba(211, 211, 211, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

.inserted-event {
  padding: 50px;
  background-color: rgba(211, 211, 211, 0.555);
  margin: 20px;
  border-radius: 20px;
}

#commentForm {
  padding: 50px;
  background-color: rgba(211, 211, 211, 0.555);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 0.1fr 2fr;
  grid-template-rows: 0.1fr 2fr;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  margin: 5px;
}

#name {
  width: 40%;
}

#comment {
  width: 40%;
  padding: 20px;
}

#comment-section {
  padding: 50px;
  background-color: rgba(211, 211, 211, 0.555);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 10%;
}

.event-name {
  padding: 10px;
  width: 90%;
  margin: 10px;
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.host-name {
  width: 90%;
  margin: 10px;
  grid-row-start: 3;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-description {
  max-width: 90%;
  margin: 10px;
  padding: 15px;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
  max-height: 700px;
  flex-wrap: wrap;
}

.event-location {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-date {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-time {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 4;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

.event-category {
  width: 90%;
  margin: 10px;
  padding: 5px;
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.493);
}

@media (max-width: 700px) {
  button {
    width: 20%;
  }
}

@media (max-width: 575px) {
  #commentForm {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 30%;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  #name {
    width: 90%;
  }

  #comment {
    width: 90%;
    padding: 20px;
  }
}
